.cursor {
  position: fixed;
  scale: 0;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: scale 0.25s ease-in-out;
}

.cursorActive {
  scale: 1;
  transition: scale 0.25s ease-in-out;
}

.trial {
  position: relative;
  display: block;
  min-height: fit-content;
}

.clientsBg {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
}

.clientsBg h1 {
  font-size: 100px;
}

.slider {
  position: relative;
  display: block;
}

.sliderChild {
  position: relative;
  display: flex;
  padding-left: 150px;
  gap: clamp(100px, 15vw, 250px);
  overflow: hidden;
}

.clientsContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100dvh;
  /* width: 100dvw; */
}

.mains:hover + p {
  top: clamp(70%, 50vw, 80%);
  transition: top 0.5s ease-in-out;
}

.clientsContainer p {
  position: absolute;
  display: block;
  top: 45%;
  left: 0;
  font-size: clamp(12px, 1vw, 15px);
  z-index: -1;
}

.mains {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.clientsContainer img {
  object-fit: cover;
  cursor: none;
  height: clamp(250px, 30vw, 400px);
  width: clamp(200px, 25vw, 350px);
}

.mains:hover h1 {
  left: -60%;
  transition: left 0.5s ease-in-out;
}

.clientsContainer h1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: fit-content;
  left: 0;
  width: 100%;
  transform: rotate(-90deg);
  z-index: -1;
}
